In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_pickle('../input/train.pkl')

In [13]:
nrows = df.shape[0]

In [17]:
df['fe_avsig_gamer_freq'] = df.groupby(["AvSigVersion","Wdft_IsGamer"])['SmartScreen'].transform('count') / nrows

In [19]:
df['pokus']

In [20]:
li = ['aaa', 'bbbb', 'cccc']

In [21]:
dfl = pd.DataFrame(li)

In [22]:
dfl

      0
0   aaa
1  bbbb
2  cccc

In [23]:
dfl.to_pickle('test.pkl')

In [24]:
del(dfl)

In [25]:
dfl = pd.read_pickle('test.pkl')

In [26]:
dfl

      0
0   aaa
1  bbbb
2  cccc

In [27]:
dfl[0]

0     aaa
1    bbbb
2    cccc
Name: 0, dtype: object

In [28]:
list(dfl[0])

['aaa', 'bbbb', 'cccc']