In [1]:
import numpy as np 
import pandas as pd

In [2]:
train = pd.read_pickle('../input/train.pkl')

In [3]:
train['EngineVersion'].nunique()

70

In [4]:
indexer = {}

In [5]:
what, indexer['EngineVersion'] = pd.factorize(train['EngineVersion'])

In [6]:
what

array([ 0,  1,  0, ...,  2, 13,  2])

In [7]:
indexer

{'EngineVersion': CategoricalIndex(['1.1.15100.1', '1.1.14600.4', '1.1.15200.1', '1.1.15300.6',
                   '1.1.13504.0', '1.1.14800.3', '1.1.15000.2', '1.1.14104.0',
                   '1.1.13804.0', '1.1.14306.0', '1.1.15000.1', '1.1.13407.0',
                   '1.1.14405.2', '1.1.14901.4', '1.1.14700.3', '1.1.14202.0',
                   '1.1.13303.0', '1.1.13701.0', '1.1.13000.0', '1.1.15300.5',
                   '1.1.14500.5', '1.1.14700.5', '1.1.14003.0', '1.1.13601.0',
                   '1.1.13903.0', '1.1.12805.0', '1.1.13202.0', '1.1.12902.0',
                   '1.1.14305.0', '1.1.13704.0', '1.1.14901.3', '1.1.14002.0',
                   '1.1.14103.0', '1.1.14700.4', '1.1.14800.1', '1.1.13103.0',
                   '1.1.14303.0', '1.1.14201.0', '1.1.13102.0', '1.1.11701.0',
                   '1.1.12400.0', '1.1.14500.2', '1.1.14001.0', '1.1.11804.0',
                   '1.1.10401.0', '1.1.13902.0', '1.1.14102.0', '1.1.12603.0',
                   '1.1.12706.0', '1.1.12002.0', '1.1.13803.0', '1.1.12101.0',
                   '1.1.13406.0', '1.1.13802.0', '1.1.10302.0', '1.1.11400.0',
                   '1.1.12804.0', '1.1.12300.0', '1.1.12205.0', '1.1.11903.0',
                   '1.1.12505.0', '1.1.11502.0', '1.1.9700.0', '1.1.11602.0',
                   '1.1.13503.0', '1.1.13301.0', '1.1.11202.0', '1.1.11104.0',
                   '1.1.12802.0', '1.1.10701.0'],
                  categories=['1.1.12805.0', '1.1.12902.0', '1.1.13000.0', '1.1.13103.0', '1.1.13202.0', '1.1.13303.0', '1.1.13407.0', '1.1.13504.0', ...], ordered=False, dtype='category')}

In [8]:
col = 'EngineVersion'

In [9]:
#train[col] = indexer[col].get_indexer(train[col])

In [10]:
def add_factor_sort(df, col):
    val = [tuple([float(v) for v in (s.split('.'))]) for s in df[col]]
    val = pd.factorize(val, sort=True)[0]
    return val

In [11]:
#train['EngineVersionFactorized'] = add_factor_sort(train, col)

In [12]:
test1 = ['1.1.15100.1', '1.1.14600.4', '1.1.15200.1', '1.1.15300.6']
test2 = ['1.1.13504.0', '1.1.14800.3', '1.1.15000.2', '1.1.15100.1']
test3 = ['1.1.15000.2', '1.1.13504.0', '1.1.15100.1', '1.1.14800.3']

In [13]:
df1 = pd.DataFrame(test1)
df2 = pd.DataFrame(test2)
df3 = pd.DataFrame(test3)

In [14]:
df1.columns = ['Version']
df2.columns = ['Version']
df3.columns = ['Version']

In [15]:
df1['VersionFactored'] = add_factor_sort(df1, 'Version')

In [16]:
df2['VersionFactored'] = add_factor_sort(df2, 'Version')

In [17]:
df3['VersionFactored'] = add_factor_sort(df3, 'Version')

In [18]:
df1

       Version  VersionFactored
0  1.1.15100.1                1
1  1.1.14600.4                0
2  1.1.15200.1                2
3  1.1.15300.6                3

In [19]:
df2

       Version  VersionFactored
0  1.1.13504.0                0
1  1.1.14800.3                1
2  1.1.15000.2                2
3  1.1.15100.1                3

In [20]:
df3

       Version  VersionFactored
0  1.1.15000.2                2
1  1.1.13504.0                0
2  1.1.15100.1                3
3  1.1.14800.3                1

In [21]:
test = pd.read_pickle('../input/test.pkl')

In [22]:
teu = test['EngineVersion'].unique()

In [23]:
tru = train['EngineVersion'].unique()

In [24]:
teu

[1.1.15400.5, 1.1.15400.4, 1.1.15300.6, 1.1.14700.5, 1.1.14405.2, ..., 1.1.10401.0, 1.1.11400.0, 1.1.11602.0, 1.1.13503.0, 1.1.13102.0]
Length: 70
Categories (70, object): [1.1.15400.5, 1.1.15400.4, 1.1.15300.6, 1.1.14700.5, ..., 1.1.11400.0, 1.1.11602.0, 1.1.13503.0, 1.1.13102.0]

In [25]:
tru

[1.1.15100.1, 1.1.14600.4, 1.1.15200.1, 1.1.15300.6, 1.1.13504.0, ..., 1.1.13301.0, 1.1.11202.0, 1.1.11104.0, 1.1.12802.0, 1.1.10701.0]
Length: 70
Categories (70, object): [1.1.15100.1, 1.1.14600.4, 1.1.15200.1, 1.1.15300.6, ..., 1.1.11202.0, 1.1.11104.0, 1.1.12802.0, 1.1.10701.0]

In [26]:
teu = list(teu)

In [27]:
tru = list(tru)

In [28]:
teu.sort()

In [29]:
tru.sort()

In [30]:
teu == tru

False

In [31]:
hehe = list(zip(teu, tru))

In [32]:
hehe

[('1.1.10302.0', '1.1.10302.0'),
 ('1.1.10401.0', '1.1.10401.0'),
 ('1.1.11104.0', '1.1.10701.0'),
 ('1.1.11302.0', '1.1.11104.0'),
 ('1.1.11400.0', '1.1.11202.0'),
 ('1.1.11502.0', '1.1.11400.0'),
 ('1.1.11602.0', '1.1.11502.0'),
 ('1.1.11701.0', '1.1.11602.0'),
 ('1.1.11804.0', '1.1.11701.0'),
 ('1.1.11903.0', '1.1.11804.0'),
 ('1.1.12002.0', '1.1.11903.0'),
 ('1.1.12101.0', '1.1.12002.0'),
 ('1.1.12205.0', '1.1.12101.0'),
 ('1.1.12300.0', '1.1.12205.0'),
 ('1.1.12400.0', '1.1.12300.0'),
 ('1.1.12505.0', '1.1.12400.0'),
 ('1.1.12603.0', '1.1.12505.0'),
 ('1.1.12706.0', '1.1.12603.0'),
 ('1.1.12804.0', '1.1.12706.0'),
 ('1.1.12805.0', '1.1.12802.0'),
 ('1.1.12902.0', '1.1.12804.0'),
 ('1.1.13000.0', '1.1.12805.0'),
 ('1.1.13102.0', '1.1.12902.0'),
 ('1.1.13103.0', '1.1.13000.0'),
 ('1.1.13202.0', '1.1.13102.0'),
 ('1.1.13303.0', '1.1.13103.0'),
 ('1.1.13406.0', '1.1.13202.0'),
 ('1.1.13407.0', '1.1.13301.0'),
 ('1.1.13503.0', '1.1.13303.0'),
 ('1.1.13504.0', '1.1.13406.0'),
 ('1.1.13601.0', '1.1.13407.0'),
 ('1.1.13701.0', '1.1.13503.0'),
 ('1.1.13704.0', '1.1.13504.0'),
 ('1.1.13802.0', '1.1.13601.0'),
 ('1.1.13803.0', '1.1.13701.0'),
 ('1.1.13804.0', '1.1.13704.0'),
 ('1.1.13902.0', '1.1.13802.0'),
 ('1.1.13903.0', '1.1.13803.0'),
 ('1.1.14001.0', '1.1.13804.0'),
 ('1.1.14002.0', '1.1.13902.0'),
 ('1.1.14003.0', '1.1.13903.0'),
 ('1.1.14102.0', '1.1.14001.0'),
 ('1.1.14103.0', '1.1.14002.0'),
 ('1.1.14104.0', '1.1.14003.0'),
 ('1.1.14201.0', '1.1.14102.0'),
 ('1.1.14202.0', '1.1.14103.0'),
 ('1.1.14303.0', '1.1.14104.0'),
 ('1.1.14305.0', '1.1.14201.0'),
 ('1.1.14306.0', '1.1.14202.0'),
 ('1.1.14405.2', '1.1.14303.0'),
 ('1.1.14500.2', '1.1.14305.0'),
 ('1.1.14500.5', '1.1.14306.0'),
 ('1.1.14600.4', '1.1.14405.2'),
 ('1.1.14700.3', '1.1.14500.2'),
 ('1.1.14700.4', '1.1.14500.5'),
 ('1.1.14700.5', '1.1.14600.4'),
 ('1.1.14800.1', '1.1.14700.3'),
 ('1.1.14800.3', '1.1.14700.4'),
 ('1.1.14901.3', '1.1.14700.5'),
 ('1.1.14901.4', '1.1.14800.1'),
 ('1.1.15000.1', '1.1.14800.3'),
 ('1.1.15000.2', '1.1.14901.3'),
 ('1.1.15100.1', '1.1.14901.4'),
 ('1.1.15200.1', '1.1.15000.1'),
 ('1.1.15300.5', '1.1.15000.2'),
 ('1.1.15300.6', '1.1.15100.1'),
 ('1.1.15400.3', '1.1.15200.1'),
 ('1.1.15400.4', '1.1.15300.5'),
 ('1.1.15400.5', '1.1.15300.6'),
 ('1.1.9700.0', '1.1.9700.0')]

In [33]:
teu = test['EngineVersion'].unique()
tru = train['EngineVersion'].unique()

In [34]:

true_numerical_columns = [
    'Census_ProcessorCoreCount',
    'Census_PrimaryDiskTotalCapacity',
    'Census_SystemVolumeTotalCapacity',
    'Census_TotalPhysicalRAM',
    'Census_InternalPrimaryDiagonalDisplaySizeInInches',
    'Census_InternalPrimaryDisplayResolutionHorizontal',
    'Census_InternalPrimaryDisplayResolutionVertical',
    'Census_InternalBatteryNumberOfCharges'
]

binary_variables = [c for c in train.columns if train[c].nunique() == 2]

categorical_columns = [c for c in train.columns 
                       if (c not in true_numerical_columns) & (c not in binary_variables)]

In [35]:
for col in categorical_columns:
    tr_un = sorted((str(s) for s in train[col].unique()))
    te_un = sorted((str(s) for s in test[col].unique()))
    try:
        assert tr_un == te_un
    except TypeError:
        print("column {} is different".format(col))
    except ValueError:
        print("column {} valuerror compare".format(col))
    except AssertionError:
        print("assertion error for {} ".format(col))
    else:
        print('{} is OK'.format(col))

assertion error for MachineIdentifier
ProductName is OK
assertion error for EngineVersion
assertion error for AppVersion
assertion error for AvSigVersion
assertion error for RtpStateBitfield
assertion error for DefaultBrowsersIdentifier
assertion error for AVProductStatesIdentifier
assertion error for AVProductsInstalled
AVProductsEnabled is OK
CountryIdentifier is OK
assertion error for CityIdentifier
assertion error for OrganizationIdentifier
assertion error for GeoNameIdentifier
assertion error for LocaleEnglishNameIdentifier
Platform is OK
Processor is OK
assertion error for OsVer
assertion error for OsBuild
assertion error for OsSuite
OsPlatformSubRelease is OK
assertion error for OsBuildLab
SkuEdition is OK
assertion error for IeVerIdentifier
assertion error for SmartScreen
assertion error for UacLuaenable
assertion error for Census_MDC2FormFactor
Census_DeviceFamily is OK
assertion error for Census_OEMNameIdentifier
assertion error for Census_OEMModelIdentifier
assertion error for Census_ProcessorManufacturerIdentifier
assertion error for Census_ProcessorModelIdentifier
Census_ProcessorClass is OK
Census_PrimaryDiskTypeName is OK
assertion error for Census_ChassisTypeName
Census_PowerPlatformRoleName is OK
assertion error for Census_InternalBatteryType
assertion error for Census_OSVersion
Census_OSArchitecture is OK
assertion error for Census_OSBranch
assertion error for Census_OSBuildNumber
assertion error for Census_OSBuildRevision
assertion error for Census_OSEdition
assertion error for Census_OSSkuName
Census_OSInstallTypeName is OK
Census_OSInstallLanguageIdentifier is OK
assertion error for Census_OSUILocaleIdentifier
Census_OSWUAutoUpdateOptionsName is OK
assertion error for Census_GenuineStateName
Census_ActivationChannel is OK
assertion error for Census_FlightRing
assertion error for Census_FirmwareManufacturerIdentifier
assertion error for Census_FirmwareVersionIdentifier
Wdft_RegionIdentifier is OK

In [36]:
teu2 = test['EngineVersion'].unique()

In [37]:
teu2

[1.1.15400.5, 1.1.15400.4, 1.1.15300.6, 1.1.14700.5, 1.1.14405.2, ..., 1.1.10401.0, 1.1.11400.0, 1.1.11602.0, 1.1.13503.0, 1.1.13102.0]
Length: 70
Categories (70, object): [1.1.15400.5, 1.1.15400.4, 1.1.15300.6, 1.1.14700.5, ..., 1.1.11400.0, 1.1.11602.0, 1.1.13503.0, 1.1.13102.0]

In [38]:
test['EngineVersion'] = pd.factorize(test['EngineVersion'])[0]

In [40]:
len(test['EngineVersion'].unique())

70

In [41]:
df2

       Version  VersionFactored
0  1.1.13504.0                0
1  1.1.14800.3                1
2  1.1.15000.2                2
3  1.1.15100.1                3

In [42]:
df2_rows = df2.shape[0]

In [43]:
df2_rows

4

In [44]:
df4 = pd.concat([df2, df3])

In [45]:
df4

       Version  VersionFactored
0  1.1.13504.0                0
1  1.1.14800.3                1
2  1.1.15000.2                2
3  1.1.15100.1                3
0  1.1.15000.2                2
1  1.1.13504.0                0
2  1.1.15100.1                3
3  1.1.14800.3                1

In [46]:
df4[:df2_rows]

       Version  VersionFactored
0  1.1.13504.0                0
1  1.1.14800.3                1
2  1.1.15000.2                2
3  1.1.15100.1                3

In [47]:
df4[df2_rows:]

       Version  VersionFactored
0  1.1.15000.2                2
1  1.1.13504.0                0
2  1.1.15100.1                3
3  1.1.14800.3                1